#page-title {
    font-size: 7.5vw;
    font-weight: bolder;
    color: #6A1E55;
    text-align: center;
    margin: 0;
}

@media (min-width:768px) {

    #page-title {
        margin-top: 40px;
    }
}